* {
    box-sizing: border-box;
    /* это правило складывает 
    паддинги и маржоны у 
    всех тегов во всем документе*/
}


.page {
    background-color: #FFE2B0;
    text-align: center;
    padding-top: 10px;
}

.logo {
    text-align: center;
    margin: 10px 0 20px;
}
.heder-nav {
    margin-bottom: 20px;
}
.nav-menu,
.nav-menu-footer {
    padding: 0;
    list-style-type: none;
}

.nav-item,
.footer-item {
    display: inline-block;
    margin-right: 100px;
    font-size: 18px;
}

.nav-item:last-child,
.footer-item:last-child {
    margin-right: 0px;
}
.footer-link,
.nav-link {
    text-decoration: none;
    color:black;
}
.nav-link:hover,
.footer-link:hover {
    color:#F15B40;
}

.page-main-img {
    background-image: url(../img/background.jpg);
    background-position: center;
    height: 640px;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    margin-bottom: 20px;
}

.page-gradient {
    width: 420px;
    height: 190px;
    background: linear-gradient(180deg,
     rgba(244, 213, 178, 0.8) 0%, 
    rgba(234, 156, 65, 0.8) 100%);
    position: absolute;
    top:54%;
    left:50%;
    padding-top: 15px;
}

.page-border {
    width: 390px;
    height: 160px;
    border: 1px solid black;
    margin: 0 auto;
/* margin: 0 auto; - свойство 
будет работать если задана ширина width */
    padding: 17px 0 0 28px;
    text-align: left;

}

.page-gradient-title {
    margin: 0;
    font-size: 36px;
    margin-bottom: 9px;
}

.page-gradient-text {
    font-size: 12px;
}

.section1 {
    text-align: center;
}

.icon-box {
    margin-bottom: 20px;
}

.icon {
    margin-right: 76px;
    transition: 0.5s; 
}

.icon:last-child {
    margin-right: 0;
}

.icon:hover {
    transform: rotate(360deg);
}

.section2 {
    text-align: center;
}

.text-header {
    font-size: 96px;
    color: black;
    margin: 0;
}

.red {
    color:#F15B40;
}
.text-content {
    font-size: 18px;
    max-width: 1000px;
    margin: 20px auto;
}

.page-button {
    font-size: 36px;
    border: none;
    margin-bottom: 20px;
    background-color: #FFE2B0;
    border: 1px solid black;
    border-radius: 30px;
    width: 250px;
    height: 55px;
}
.page-button:hover {
    font-size: 38px;
    border: none;
    color: #F15B40;
    background-color: #FFE2B0;
    border: 1px solid #F15B40;
    border-radius: 30px;
    width: 250px;
    height: 55px;

}

.map {
    margin-bottom: 20px;
}

.line {
    border: 1px solid #999999;
    width: 1024px;
    margin: 0 auto 20px;
}

.footer-nav {
    height: 80px;
}
